
<!-- Page Header-->
<header class="masthead" style="background-image: url('/Assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Barış Blog</h1>
                    <span class="subheading">Ben Kimim?</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <main>
                    <section>
                        <h2>Hakkımda</h2>
                        <p>Merhaba! Yazılım öğrenme yolculuğumda karşılaştığım deneyimleri ve öğrenme sürecimi hazırladığım bu web sitesinde paylaşacağım. Beni takip edin!</p>
                        <div>
                            <h3>Ben Kimim?</h3>
                            <p>Barış Çakdı 32 yaşında, Acunmedya Akademi'nde Back-end uzmanlığı eğitimine katılan ve her geçen gün yazılım dünyasına daha fazla tutkuyla bağlanan biriyim.</p>
                        </div>
                        <div>
                            <h3>Yazılım</h3>
                            <p>Yazılım benim için sadece bir meslek değil, aynı zamanda bir tutku. Her projeye heyecanla başlıyor ve en yüksek kalitede ürünler ortaya koymak için büyük bir özen gösteriyorum.</p>
                            <h4>Yazılım Dilleri ve Frameworkler</h4>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>C#</li>
                                <li>Entity Framework</li>
                                <li>ASP.NET core MVC</li>
                                <li>JS</li>
                                <li>jQuery</li>
                                <li>Ajax</li>
                                <li>Design Patterns</li>
                                <li>ASP.NET Core Web API</li>
                            </ul>
                        </div>
                        <div>
                            <h3>Hobilerim</h3>
                            <p>Boş zamanlarımda doğada kamp yapmak, motor sürmek ve airsoft oynamak gibi aktivitelerle stres atmayı ve hayatın tadını çıkarmayı seviyorum. Ayrıca spor yapmak da benim için önemli bir hobidir; hem zihinsel hem de fiziksel sağlığımı korumaya yardımcı olur.</p>
                        </div>
                        <div>
                            <h3>Eğitim</h3>
                            <ul>
                                <li><a href="https://acunmedyaakademi.com/" target="_blank">Acunmedya Akademi</a>/Genişletilmiş Back-End uzmanlığı</li>
                                <li><a href="https://www.anadolu.edu.tr/" target="_blank" >Anadolu Üniversitesi</a>/Bilgisayar Programcılığı</li>
                                <li><a href="https://www.kocaeli.edu.tr/" target="_blank" >Kocaeli Üniversitesi</a>/Otomotiv Teknolojisi</li>
                                
                            </ul>
                        </div>
                    </section>
            </div>
        </div>
    </div>
</main>
