@model List<Post>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/Assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Barış Blog</h1>
                    <span class="subheading">Blog okuyalım</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach(var post in Model)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="/Home/OrnekPost/@post.Slug">
                        <h2 class="post-title">@post.Title</h2>
                        <h3 class="post-subtitle">@post.Content</h3>
                        <img src="@post.ImgUrl" width="700px" />
                    </a>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/Home/index">Önceki Gönderiler →</a></div>
        </div>
    </div>
</div>
